<html>
  <head>
    <title>BUAP DELFÍN - ÍNDICE</title>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link href="static/styles.css" rel="stylesheet" />
    <link rel="icon" href="static/buap.ico" type="image/vnd.microsoft.icon" />
  </head>

  <body>
    {{ template "header" . }}
    <main>
      <h1>Proyecto Delfín: Índice de Violencia</h1>
      <p>
        Este proyecto tiene como objetivo predecir el índice de violencia en los
        municipios de México utilizando modelos de redes neuronales entrenados
        con datos del INEGI desde el año 2015 hasta 2025.
      </p>

      <p>
        Como parte del proceso, se realizó un análisis exhaustivo de los datos
        que incluyó la exploración de gráficas, limpieza y preprocesamiento,
        generación de nuevas características, y la separación del conjunto de
        datos en entrenamiento y validación. También se llevó a cabo una
        búsqueda de hiperparámetros para optimizar el rendimiento del modelo.
      </p>

      <p>
        El resultado de este proceso fue un modelo capaz de predecir patrones de
        violencia de forma geoespacial y temporal. Para facilitar la
        visualización de los resultados, se desarrolló una página web
        interactiva que muestra un mapa de la República Mexicana. En este mapa
        se reflejan los niveles de predicción por municipio según el mes y año
        seleccionados.
      </p>

      <p>
        Este proyecto fue realizado como parte del
        <strong>Programa Delfín</strong>, con el objetivo de aplicar
        conocimientos en ciencia de datos, inteligencia artificial y desarrollo
        web para contribuir al análisis de problemáticas sociales desde un
        enfoque técnico y visual.
      </p>
    </main>
  </body>
</html>

{{ define "header" }}
<nav>
  <a href="/">Inicio</a>
  <a href="/mapa">Mapa de los resultados</a>
  <a href="/resultados">Resultados</a>
  <a href="/creditos">Creditos</a>
</nav>
{{ end }}
