<html class="h-full">

<head>
	<title>BUAP DELFÍN - MAPA DEL ÍNDICE DE VIOLENCIA</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
	<link href="static/output.css" rel="stylesheet">
	<link rel="icon" href="static/buap.ico" type="image/vnd.microsoft.icon">

</head>

<body class="dark:bg-gray-800">

	{{ template "header" . }}
	<div class="h-screen flex">
		{{ template "map" . }}

		{{ template "mapsettings" . }}
	</div>




	<script src="static/map.js/"></script>
</body>

</html>


{{ define "oob-month" }}
<span class="text-white" id="month-display" hx-swap-oob="true">{{if .}}{{.}}{{else}}1{{end}}</span>
{{ end }}

{{ define "oob-year" }}
<span class="text-white" id="year-display" hx-swap-oob="true">{{if .}}{{.}}{{else}}2015{{end}}</span>
{{ end }}

{{ define "map" }}
<div id="map" class="h-full w-[60%]"></div>
{{ end }}

{{ define "mapsettings" }}
<div
	class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 relative mb-6">
	<label for="steps-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Año: {{ template
		"oob-year" . }}
	</label>
	<input id="year" name="year" type="range" min="2015" max="2035" value="2015" step="1"
		class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
		hx-post="/update-year" hx-trigger="change, input" hx-swap="none">
	<label for="steps-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mes: {{ template
		"oob-month" . }}
	</label>
	<input id="month" name="month" type="range" min="1" max="12" value="1" step="1"
		class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
		hx-post="/update-month" hx-trigger="change, input" hx-swap="none">


</div>
{{ end }}
