:root {
  --bg-color: #1e1e1e;
  --fg-color: #f5f5f5;
  --subtle-color: #888;
  --primary-color: #aafcb8;
  --input-bg: #2a2a2a;
  --input-border: #444;
  --button-bg: #75fa8b;
  --button-hover: #07c527;
}

body {
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--button-bg);
}

a:hover {
  color: var(--button-hover);
}

h1 {
  color: var(--primary-color);
  margin-bottom: 16px;
  margin-left: 24px;
}

main {
  margin: auto;
  max-width: 40em;
}

nav {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  align-items: center;
  background-color: var(--bg-color);
  padding: 10px 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav h1 {
  margin: 0;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
img {
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  width: 40em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-tray {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  max-width: min(100%, 180px);
}

#map {
  width: 100%;
  height: 30rem;
  margin: 0 0 5rem;
}

.results {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

form {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between form elements */
}
